<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form>
      <div class='img-logo'></div>
     
      <label for='name'><h4>Nome</h4></label>
      <input type ='text' id ='nome'></input>
      
      <label for='email'><h4>Email</h4></label>
      <input type ='text' id ='email'></input>
    
      <label for='telefone'><h4>Telefone</h4></label>
      <input type ='text' id ='telefone'></input>
    
      <label for='Mensagem'><h4>Mensagem</h4></label>
      <input type ='text' id ="mensagem"></input>

      <input type ="submit" value="Enviar" id="dados">
  </form>

  </body>
</html>
