<!DOCTYPE html>
<html>

<head>
    <title> dashboard test</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href="/stylesheets/dashboardHome.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class='logo-icon'>
            <span>
                <h3>e-voto</h3>
            </span>
        </div>

        <div class='user-logo'>
            <i class='fas fa-user'> <span>adm</span></i>
        </div>
    </header>




    <div class='side-bar'>
        <a href="/dashboard"><i class="fas fa-user-edit"></i><span>Gerenciar candidato</span></a>
        <a href="/dashboard_eleitor"><i class="fas fa-user-edit"></i><span>Gerenciar eleitor</span></a>
        <a href="/resultados"><i class="fas fa-chart-bar"></i><span>Relatórios</span></a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>


    <div class='content'>

        <div class='content-card'>

            <div class='content-header'>
                <span>
                    <h3>Adicionar Candidato</h3>
                </span>

                <div class='content-btn'>
                    <button id="btn_pop">
                        <h3>ADD</h3>
                    </button>
                </div>


                <div id="box" class="modal">

                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h1>CANDIDATO</h1>

                        <form action="/cadastro_candidato" method="POST">
                            <input type="text" id="fname" name="cpf" placeholder="Digite seu CPF">
                            <input type="text" id="lname" name="partido" placeholder="Digite o Numero do Partido">
                            <input type="text" id="lname" name="numero" placeholder="Digite o Numero do Candidato">

                            <input type="submit" value="ADICIONAR">
                        </form>
                    </div>

                </div>



            </div>

            <div class='table-header'>

                <div class='table-headers'>ID Eleitor</div>
                <div class='table-headers'>PARTIDO</div>
                <div class='table-headers'>NUMERO</div>
                

            </div>
            <% candidatos.forEach(function(candidato){ %>

                <div class='table-header'>

                    <div class='table-headers'><%= candidato.dataValues.id%></div>
                    <div class='table-headers'></div>
                    <div class='table-headers'><%= candidato.dataValues.numVoto%></div>
                    
    
                </div>
              
            <% }); %>
            




        </div>

    </div>






    <script src="/js/dashboardHome.js"> </script>
</body>

</html>