<!DOCTYPE html>
<html>
  <head>
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8"> 
    <link href="./../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    

  </head>
  <body>
    Tecflying community 
    




    <script src="./../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>
