<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!DOCTYPE html>
<html>
    
    
    <head>
        <title>test</title>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="./assets/css/style.css"> 
    </head>

    <body> 
      
    <main>  
        
        <div class="left"> 
            <picture><img src="/img/img_login.png" width="600px" height="600px"></picture>
         </div>

        <div class="right"> 
      
            <!---Formulário-->
            
            <form> 
              
                <div class="head-form-format"> 
                    <h1> BEM VINDO AO</h1>
                    <h1><span>E-VOTO</span></h1> 
                 </div>
              
              
                 <div class="form-format"> 
                    
                    <div class="labels">
                    <label for='name'>NOME</label>
                    <input type ='text' id ='nome'></input>
                    </div>
                    
                    <div class="labels">
                    <label for='email'>SENHA</label>
                    <input type ='text' id ='email'></input>
                    </div>
                    
                </div>
              
            </form>
            
            <!---Formulário-->


        </div>
        
    </main>  

        <script src='assets/js/script.js' type='text/javascript'></script>
    </body> 
</html>
  </body>
</html>
