<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
  <link rel="stylesheet" href="/stylesheets/styleVotar.css">
</head>
<body>
  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="/img/pic.png" alt="">
      </div>
      <div class="nome"><%=info.nome%></div>
      <div class="cargo">Presidente</div>
      <div class="bt">
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-twitter"></a>
      </div>
      <a href="/finalizar_voto/<%=candidato.id%> " class="contact-btn">Votar</a>
    </div>
    <div class="card-footer">
      <div class="numbers">
        <div class="item">
          <span><%=candidato.numVoto%></span>
          Numero
        </div>
        <div class="border"></div>
        <div class="item">
          <span>BAIA</span>
          Nacionalidade
        </div>
        <div class="border"></div>
        <div class="item">
          <span>Lula</span>
          Rival
        </div>
      </div>
    </div>
  </div>
</body>
</html>